<div class="container">
    <div class="left">
        <button class="sign-in" [routerLink]="['/sign-in']">Sign In</button>
        <button class="sign-up" [routerLink]="['/sign-up']">Sign Up</button>
    </div>
    <div class="right">
        <div class="logo">Joblinkt</div>
        <h2>Welcome back!</h2>
        <form [formGroup]="loginForm"  style="text-align: center;">
            <mat-form-field appearance="outline">
              <mat-label>Username*</mat-label>
              <input formControlName="username" matInput placeholder="Username">
              
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password*</mat-label>
              <input formControlName="password" matInput placeholder="Password" 
                [type]="hidePassword ? 'password' : 'text'">
             
             
            </mat-form-field>
          </form>
          <button class="primary-button" [routerLink]="['/dashboard']">Sign In</button>
    </div>
</div>
