<div class="container">
    <div class="left">
        <button class="sign-in" [routerLink]="['/sign-in']">Sign In</button>
        <button class="sign-up" [routerLink]="['/sign-up']">Sign Up</button>
    </div>
    <div class="right">
        <div class="logo">Joblinkt</div>
        <h2>Welcome back!</h2>
        <form [formGroup]="loginForm"  style="text-align: center;">
            <mat-form-field appearance="outline">
              <mat-label>Username*</mat-label>
              <input formControlName="username" matInput placeholder="Username" [errorStateMatcher]="matcher">
              <mat-error *ngIf="login.username.errors?.required">Email required</mat-error>
              <mat-error *ngIf="login.username.errors?.email">Email not valid</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password*</mat-label>
              <input formControlName="password" matInput placeholder="Password" [errorStateMatcher]="matcher"
              [type]="hidePassword ? 'password' : 'text'">
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="login.password.errors?.required">Password is required</mat-error>
            </mat-form-field>
          </form>
          <button class="primary-button" (click)="onSubmit()">Sign In</button>
    </div>
</div>
