<div class="container">
    <div class="mat-h2" mat-dialog-title>Add salary</div>
    <div mat-dialog-content>

        <form [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Position*</mat-label>
                <input formControlName="position" matInput placeholder="Enter your job position">
            </mat-form-field>
            <div class="position">
                <mat-form-field appearance="outline">
                    <mat-label>Choose position level</mat-label>
                    <mat-select>
                        <mat-option>
                            Junior
                        </mat-option>
                        <mat-option>
                            Medior
                        </mat-option>
                        <mat-option>
                            Senior
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Salary*</mat-label>
                    <input formControlName="grade" type="number"  min="1" matInput placeholder="Enter salary">
                </mat-form-field>
            </div>
           

        </form>

    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button class="yes-button" mat-raised-button mat-dialog-close>Add</button>
        <button class="cancel-button" mat-raised-button mat-dialog-close raised>Close</button>
    </div>
</div>