@use '../../../base-style' as base;
.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.menu-button{
    padding: 20px;
    background-color: base.$primary-color;
    font-size: 16px;
    color: white;
    border: 0px solid white;
    border-bottom: 1px solid base.$dark-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:10px;
}
.menu-button .mat-icon{
    visibility: hidden;
}
.menu-button:hover{
    cursor: pointer;
}
.menu-button.active{
  font-weight: 600;
}
.menu-button.active .mat-icon{
    visibility: visible;
}
.menu-button:hover .mat-icon{
    visibility: visible;
}
.first{
   border-radius: 10px 10px 0 0;
}
.last{
    border-radius: 0 0 10px 10px;
    border: 0px solid white;
}