
<div class="menu">
    <button class="menu-button first"  [routerLink]="['/company-about']" routerLinkActive="active">About Comapany<mat-icon>play_arrow</mat-icon></button>
    <button class="menu-button" [routerLink]="['/company-comments']" routerLinkActive="active">Comments<mat-icon>play_arrow</mat-icon></button>
    <button class="menu-button" [routerLink]="['/company-interview']" routerLinkActive="active"> Interviews<mat-icon>play_arrow</mat-icon></button>
    <button class="menu-button last" [routerLink]="['/company-salary']" routerLinkActive="active">Salary<mat-icon>play_arrow</mat-icon></button>
</div>