@use '../../../base-style'as base;
.container{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.row{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.mat-form-field{
    width: 100%;
    
}
.list{
    display: flex;
    flex-direction: column;
}
.mat-grid-list{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }
.interest {
    display: flex;
    position: absolute;
    left: 0px;
    color: base.$dark-grey;
    gap: 5px;
}
.interest .mat-icon {
    color: base.$primary-color
}
.add-list {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.add-lkist .mat-icon {
    color: base.$dark-grey;
    font-size: 18px;
}
.primary-button {
    @extend %primary-button;
    background-color: base.$primary-color;
}

.primary-button:hover {
    @extend %primary-button-hover;
}
.dialog-actions {
    padding:20px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}


.yes-button{
    background-color: base.$secondary-color;
    padding:12px 15px;
    border:0px solid white;
    border-radius: 15px;
    color:white;
    font-size: 16px;
    width: 100px;
}
.yes-button:hover{
    @extend %primary-button-hover
}
.cancel-button{
    background-color:base.$background-color;
    padding:12px 15px;
    border:0px solid white;
    border-radius: 15px;
    color:base.$dark-grey;
    font-size: 16px;
    width: 100px;
}
.cancel-button:hover{
    @extend %primary-button-hover
}