<div class="container">
    <div class="mat-h2" mat-dialog-title>Add interview process</div>
    <div mat-dialog-content>

        <form [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Position*</mat-label>
                <input formControlName="position" matInput placeholder="Enter your job position">
            </mat-form-field>
            <div class="position">
                <mat-form-field appearance="outline">
                    <mat-label >Choose position level</mat-label>
                    <mat-select [(value)]="level">
                        <mat-option value="Junior">
                            Junior
                        </mat-option>
                        <mat-option  value="Medior">
                            Medior
                        </mat-option>
                        <mat-option  value="Senior">
                            Senior
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Grade*</mat-label>
                    <input formControlName="grade" type="number" max="5" min="1" matInput placeholder="Enter grade">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>HR Interview*</mat-label>
                <textarea formControlName="HRInterview" matInput placeholder="Enter HR interview process"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Techical interview*</mat-label>
                <textarea formControlName="technicalInterview" matInput placeholder="Enter technical interview process"></textarea>
            </mat-form-field>

        </form>

    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button class="yes-button" mat-raised-button mat-dialog-close (click)="addInterview()">Add</button>
        <button class="cancel-button" mat-raised-button mat-dialog-close raised>Close</button>
    </div>
</div>