<app-navbar></app-navbar>
<div class="container">
    <div class="header">
        <div class="about">
            <div class="head">
                <div class="image">
                    <img
                        src="https://www.pngkit.com/png/full/130-1306176_company-building-icon-png.png">
                </div>
                <div class="info">
                    <div class="mat-h2">IT Company</div>
                    <div class="mat-h3">Novi Sad, Srbija</div>
                    <div class="industry">Software outsourcing</div>

                </div>
                <div class="mat-h2">4.7</div>
            </div>
        </div>


    </div>
    <div class="content">
        <div class="left">
            <div class="menu">
                <button class="menu-button first" [routerLink]="['/company-about']" routerLinkActive="active">About
                    Comapany<mat-icon>play_arrow</mat-icon></button>
                <button class="menu-button" [routerLink]="['/company-comments']" routerLinkActive="active">Comments
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button class="menu-button" [routerLink]="['/company-interview']" routerLinkActive="active"> Interviews
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button class="menu-button" [routerLink]="['/company-salary']" routerLinkActive="active">Salary
                    <mat-icon>play_arrow</mat-icon></button>
                <button class="menu-button last" [routerLink]="['/company-jobs']" routerLinkActive="active">Jobs
                    <mat-icon>play_arrow</mat-icon></button>
            </div>

        </div>
        <div class="right">

            <div class="jobs">
                <button class="add-job"  (click)="openAddDialog($event)">
                    <mat-icon>add</mat-icon>Add Job Offer</button>
                <div class="job">
                    <div class="job-header">
                        <div>Junior Software Developer</div>
                        <div class="grade">
                            <div class="date">15.03.2022.</div>
                        </div>
                    </div>
                    <div class="job-content">
                        <div class="reaction">Job Description</div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore
                            et dolore magna aliqua
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</div>
                        <button class="edit-job" (click)="openViewDialog($event)">View more..</button>
                    </div>
                </div>
                <div class="job">
                    <div class="job-header">
                        <div>Senior Software Developer</div>
                        <div class="grade">
                            <div class="date">15.03.2022.</div>
                        </div>
                    </div>
                    <div class="job-content">
                        <div class="reaction">Job Description</div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore
                            et dolore magna aliqua
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</div>
                        <button class="edit-job">View more..</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>