@use '../../../base-style' as base;

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    width: 70%;
    height: 100vh;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left {
    border-radius: base.$border-radius;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.filters-title {
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;;
}

.right {
    padding: 20px;
    display: flex;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.mat-form-field {
    width: 90%;
}
.search{
    display: flex;
    justify-content: center;
    width: 100%;
}
.companies{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
}
.company{
    background-color: base.$background-color;
    padding:20px;
    border-radius: base.$border-radius;
}

.head {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.head .image {
    grid-column: 1;
}

.info {
    grid-column: 2;
}

.image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-right: 10px;
}
.mat-h2 {
    font-weight: 500;
    color: base.$dark-grey;
}

.mat-h3 {
    font-weight: 50;
    margin-top: -20px;
    font-size: 16px;
    color: base.$light-grey-letters;
}

.mat-h4 {
    font-size: 16px;
    color: base.$light-grey-letters;
}

.mat-body-1 {
    font-weight: 400;
    font-size: 16px;
    color: base.$dark-grey;
}
.industry{
    font-size: 18px;
    font-weight: 500;
    color:base.$secondary-color;
    margin-bottom: 5px;;
}
.primary-button {
    margin: 0;
    font-size: 18px;
    width: 180px;
    margin-top:5px;
    @extend %primary-button
}
.primary-button:hover {
    @extend %primary-button-hover
}

