<app-navbar></app-navbar>
<div class="container">
    <div class="header">
        <div class="about">
        <div class="head">
            <div class="image">
                <img
                    src="https://www.pngkit.com/png/full/130-1306176_company-building-icon-png.png">
            </div>
            <div class="info">
                <div class="mat-h2">{{company?.name}}</div>
                <div class="mat-h3">{{company?.city}}, {{company?.country}}</div>
                <div class="industry">{{company?.category}}</div>

            </div>
            <div class="mat-h2">{{averageGrade}}</div>
        </div>
        </div>


    </div>
    <div class="content">
        <div class="left">
           <div class="menu">
            <button class="menu-button first"  [routerLink]="['/company-about']" routerLinkActive="active">About Comapany<mat-icon>play_arrow</mat-icon></button>
            <button class="menu-button" [routerLink]="['/company-comments']" routerLinkActive="active">Comments<mat-icon>play_arrow</mat-icon></button>
            <button class="menu-button" [routerLink]="['/company-interview']" routerLinkActive="active"> Interviews<mat-icon>play_arrow</mat-icon></button>
            <button class="menu-button" [routerLink]="['/company-salary']" routerLinkActive="active">Salary<mat-icon>play_arrow</mat-icon></button>
            <button class="menu-button last" [routerLink]="['/company-jobs']" routerLinkActive="active">Jobs<mat-icon>play_arrow</mat-icon></button>
           </div>

        </div>
        <div class="right">

            <div class="companies">
                <button class="edit-button"  (click)="openAddDialog($event)"><mat-icon>edit</mat-icon>Edit company info</button>
                <div class="company">
                    <div class="body mat-body-1">
                        <div>{{company?.description}}</div>
                    </div>
                  
                </div>
   
            </div>
        </div>
    </div>
</div>