@use '../../../base-style' as base;

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap:20px;
    flex-direction: column;
}

.content {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header{
    width: 70%;
    margin-top: 100px;
    background-color: base.$background-color;
    border-radius: base.$border-radius;
    
}
.about{
    padding: 20px;
}

.left {
    border-radius: base.$border-radius;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.filters-title {
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;;
}

.right {
    display: flex;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.mat-form-field {
    width: 100%;
}
.search{
    display: flex;
    justify-content: center;
    width: 100%;
}
.comments{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
}
.comment{
    background-color: base.$background-color;
    padding:20px;
    border-radius: base.$border-radius;
}
.commnet-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color:base.$secondary-color;
    font-weight: 500;
    border-bottom: 1px solid base.$light-grey-letters;
    padding-bottom: 10px;
}
.grade{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    align-items: flex-end;
}
.date{
    font-size: 16px;
    font-weight: 400;
    color:base.$light-grey-letters
}
.head {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.head .image {
    grid-column: 1;
}

.info {
    grid-column: 2;
}

.image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-right: 10px;
}
.mat-h2 {
    font-weight: 500;
    color: base.$dark-grey;
}

.mat-h3 {
    font-weight: 50;
    margin-top: -20px;
    font-size: 16px;
    color: base.$light-grey-letters;
}


.mat-h4 {
    font-size: 16px;
    color: base.$light-grey-letters;
}

.mat-body-1 {
    font-weight: 400;
    font-size: 16px;
    color: base.$dark-grey;
}
.industry {
    font-weight: 500;
    margin-top: -20px;
    font-size: 16px;
    color: base.$secondary-color;
}
.primary-button {
    margin: 0;
    font-size: 16px;
    width: 180px;
    margin-top:5px;
    @extend %primary-button
}
.primary-button:hover {
    @extend %primary-button-hover
}
.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-button{
    padding: 20px;
    background-color: base.$primary-color;
    font-size: 16px;
    color: white;
    border: 0px solid white;
    border-bottom: 1px solid base.$dark-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.menu-button .mat-icon{
    visibility: hidden;
}
.menu-button:hover{
    cursor: pointer;
}
.menu-button.active{
  font-weight: 600;
}
.menu-button.active .mat-icon{
    visibility: visible;
}
.menu-button:hover .mat-icon{
    visibility: visible;
}
.add-comment{
    padding: 12px 15px;
    background-image: base.$primary-gradient;
    font-size: 16px;
    color: white;
    border: 0px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    border-radius:15px;
}
.add-comment:hover{
    @extend %primary-button-hover
}
.first{
   border-radius: 15px 15px 0 0;
}
.last{
    border-radius: 0 0 15px 15px;
    border: 0px solid white;
}
.reaction{
    font-size: 18px;
    color:base.$dark-grey;
    font-weight: 500;
    padding:10px 0px;
}

